.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 760px;
  background-color: rgba(33, 33, 33, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: $primary-bg-color;
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
  margin-bottom: 30px;
}

.form-input {
  display: block;
  position: relative;
  width: 448px;
  height: 40px;
  margin-bottom: 28px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: $primary-bg-color;
  padding-left: 42px;
}

.first-form-input {
  margin-top: 30px;
}

.form-field {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 19px;
  top: 14px;
  fill: $title-color;
}

.form-label:focus-within,
.form-input:focus ~ .form-icon {
  fill: $accent-color;
  color: $accent-color;
}

.text-form {
  position: absolute;
  left: 42px;
  top: 12px;
  font-size: 12px;
  transition: transform $transition, color $transition;
}

.form-input:not(:placeholder-shown) ~ .text-form,
.form-input:focus ~ .text-form {
  transform: translateY(-33px) translateX(0);
  left: 19px;
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.comment-field {
  position: relative;
}

.text-comment {
  position: absolute;
  left: 16px;
  top: 12px;
  font-size: 14px;
  transition: transform $transition, color $transition;
}

.comment:not(:placeholder-shown) ~ .text-comment,
.comment:focus ~ .text-comment {
  transform: translateY(-33px) translateX(0);
  left: 19px;
  color: $accent-color;
}

.modal-link {
  color: $accent-color;
}

.check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.field-checkbox {
  position: relative;
}

.checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 20px;
  padding-left: 4px;
  border: 2px solid $title-color;
  border-radius: 4px;
}

.check:checked ~ .checkbox {
  border-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.text-checkbox {
  margin-left: 4px;
}

.btn-modal {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 124px;
}

.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: transparent;
}

.icon-close {
  fill: $title-color;
  transition: fill $transition;
}

.svg-close:hover .icon-close,
.svg-close:focus .icon-close {
  fill: $accent-color;
  cursor: pointer;
}
